@import url("https://fonts.googleapis.com/css?family=sans+serif|Share+Tech+Mono");

body {
    font-family: Georgia, Verdana, Geneva, sans-serif;
	font-size:14pt;
}

header{
	height: 13em;
	overflow:hidden;
}

#headerimg {
	margin: 10px;
  opacity: 0.5;
	width: 100em;
	height:auto;
	position: relative;
}
#headertxt {
	position: absolute;
	margin-top: -340px;
	margin-left: 250px;	
	opacity: 1;
}
.bold1 {
    font-weight: bold;
}
#burgertxt {
		text-align: center;
}
#burgers {
	color: white; 
  background-color: black;
	border: 2px dotted white;
	display: grid;
	grid-template-columns: 33% 33% 33%;
}
button:hover {
    background-color: green;
	cursor: pointer;
}
button {
	margin: 10px;
}
table {
  width: 100em;
  text-align: center;
  
}

.wrapper {
  display: grid;
  grid-column-gap: 50px;
   grid-template-columns: auto auto auto;
}

.a {
	grid-columns: 1;
	grid-rows: 1;
}
.b {
	grid-columns: 2;
	grid-rows: 1;
}
.c {
	grid-columns: 3;
	grid-rows: 1;
}
	
#customer_information {
	
	border: 2px dotted black;
}

section {
	margin: 10px;
  	padding: 20px;
}
.view-box {
	width: 90%;
	height: 50vh;
	margin: 1em auto;
	overflow: scroll;
	border: 1px solid rgba(0,0,0,0.4);
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}
#dots {
	position: relative;
	background: url(/img/polacks.jpg);
	background-repeat: no-repeat;
	width: 100%;
	height: 330%;
	cursor: crosshair;
}

#dots div {
	position: absolute;
	background: blue;
	color: white;
	border-radius: 10px;
	width:20px;
	height:20px;
	text-align: center;
}